<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/LayoutPadrao">
	
<head>
	
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/vendors/upload.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/wine.css}"/>
	<title th:text = "${vinho.nome}"></title>
	
</head>

<body>
<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<h1 th:text = "${vinho.nome}">
			Vinho
			</h1>
		</div>
	</div>
	
	<div class = "container-fluid">
		
		<div class = "row">
			<div class = "col-sm-9">
				
				<div id="upload-drop" class = "wn-upload">
					
					<img th:src="@{/images/mockup-garrafa.png}"/>
					
					<div>
						<span>Arraste a foto aqui ou </span>
						<a class = "wn-upload-form-file"> selecione<input id = "upload-select" type="file" accept=".jpg,.png, .jpeg"/></a>
					</div>
					
				</div>
				
			</div>
			
			<div class = "col-sm-3">
				
				<ul class = "list-group">
					<li class = "list-group-item"  th:text="|Vinho ${vinho.tipo.descricao}|"> Tipo </li>
					<li class = "list-group-item"  th:text="|${vinho.volume}ml|"> Volume </li>
					<li class = "list-group-item"  th:text="|${vinho.safra}|"> Safra </li>
					<li class = "list-group-item"  th:text="|R$${vinho.valor}|"> Valor </li>
				</ul>
				
			</div>
		</div>
		
	</div>
	
	
</section>
	
<!-- Defino meus JavaScripts -->	
<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/vendors/uikit.min.js}"></script>
	<script th:src="@{/javascripts/vendors/upload.min.js}"></script>
	<script th:src="@{/javascripts/vinho.upload-foto.js}"></script>
</th:block>	
	

</body>
</html>